@font-face {
  font-family: "Queensides";
  src: url("../fonts/Queensides.ttf") format("truetype");
}

html {
  font-family: "Queensides";
  height: 100%;
}

body {
  background-color: #121212;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 24px;
  overflow-y: auto;
  box-sizing: border-box;
}

.file-input {
  font-family: "Queensides";
  font-size: 1em;
  background-color: #444;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0px 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px 0px 0px 16px;
}

button {
  background-color: #661144;
  color: white;
  font-family: "Queensides";
  font-size: 1.2em;
  font-weight: 100;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.brightened {
  filter: brightness(1.7);
}

#main {
  height: 100%;
  width: 100%;
  display: block;
}

#title {
  height: 100px;
  width: max-content;
  margin: auto;
  padding-bottom: 24px;
  box-sizing: border-box;
}

#title img {
  height: 100%;
}

#content {
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: 38% 24% 38%;
}

#image-section {
  background-color: #242424;
  height: fit-content;
  width: fit-content;
  border-radius: 16px;
  margin: 0 auto 0 auto;
}

#image-upload {
  display: block;
  height: 100%;
}

#image-upload-top {
  width: 100%;
  height: calc(100% - 40px);
}

#image-upload-bottom {
  height: 40px;
  width: 100%;
  display: flex;
}

#url-input {
  width: 85%;
  height: 100%;
}

#url-send-button {
  width: auto;
  min-width: 15%;
  height: 100%;
  border-radius: 0px 0px 16px 0px;
}

.button-arrow {
  height: 70%;
}

#image-display {
  width: fit-content;
  height: fit-content;
}

#image-display-top {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.drop_area {
  width: 80%;
  height: 100%;
  padding: 16px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.drop_area * {
  display: block;
  flex-grow: 2;
  margin: auto;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.drop_area button {
  height: 48px;
  background-color: #444;
}

.drop_area img {
  width: 60%;
  padding: 20%;
  filter: invert(100%) brightness(33%);
}

#image-display-bottom {
  width: 100%;
  height: 48px;
}

#image-display-bottom button {
  height: 100%;
}

#image-display-area {
  max-height: 70vh;
  max-width: 100%;
  margin: auto;
  border-radius: 16px 16px 0px 0px;
}

#button-section {
  display: flex;
}

#button-area {
  background-color: #121212;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.middle-button {
  width: 70%;
}

#amount-setter {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#amount-setter input {
  appearance: none;
  -webkit-appearance: none;
  width: 60%;
  background-color: #242424;
  color: white;
  font-family: "Queensides";
  font-size: 1em;
  height: 16px;
  border: none;
  border-radius: 0.25rem;
  background: #242424;
  outline: none;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

#amount-setter input:hover {
  background-color: #303030;
}

#amount-setter input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #444;
  cursor: pointer;
}

#amount-setter input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: 0;
  background: #444;
  cursor: pointer;
}

#amount-setter span {
  font-size: 1.2em;
  ;
  width: 100%;
  text-align: center;
}

#loading-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
}

#loading-icon {
  display: flex;
  width: 80%;
  height: 70%;
}

#loading-text {
  height: 30%;
  /* Allow the height to adjust based on content */
  font-size: 2.3em;
  text-align: center;
  width: 80%;
  overflow: auto;
  /* Enable scrollbars when content overflows */
  word-wrap: break-word;
}

#track-section {
  background-color: #242424;
  display: block;
  max-height: calc(70vh + 48px);
  border-radius: 16px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#track-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#track-section {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#embed-section {
  width: 100%;
  height: fit-content;
}

.lyrics-section::-webkit-scrollbar {
  display: none;
}

.lyrics-section::-webkit-scrollbar-thumb {
  display: none;
}

.lyrics-section {
  height: auto;
  font-size: 1.1em;
  font-weight: 600;
  overflow-y: auto;
  padding: 0px 12px 8px 12px;
  box-sizing: border-box;
}

.lyrics-text div {
  padding-left: 4px;
}

.highlighted-line {
  background-color: #444;
  border-radius: 4px;
}
#login-popup{
  position:absolute;
  background-color:#0006;
  width:100%;
  height:100%;
  z-index:100;
  top: 0px;
  left: 0px;
}

#popup-content{
  position:absolute;
  height:65%;
  width:50%;
  max-width:400px;
  min-width:250px;
  background-color:#242424;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:8px;
  border:8px solid #363636;
  border-radius:24px;
  display: flex;
  flex-wrap:wrap;
  justify-content: right;
}

#login-top{
  height:10%;
  width:fit-content;
  background-color:transparent;
}

#login-close{
  height:100%;
  float:right;
  cursor:pointer;
}

#login-text{
  font-size:1.8em;
  padding:0px 12px;
  height:80%
}

#login-link{
  text-decoration:none;
  font-size:1.3em;
  color:white;
  background-color: #661144;
  color: white;
  font-size: 1.2em;
  width: 100%;
  border-radius: 8px;
  padding:10px;
  text-align: center;
}

#login-link:hover{
  filter: brightness(1.1);
}

@media screen and (max-width: 865px) {
  #content {
    grid-template-columns: 1fr 1fr;
    /* Two columns with equal width */
    grid-template-rows: auto auto;
    row-gap: 24px;
  }

  #track-section {
    grid-column: 1 / -1;
    height: calc(70vh + 48px);
  }

  #button-area {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1060px) {
  #amount-setter input {
    width: 70%;
  }
}