@font-face {
    font-family: 'Queensides';
    src: url('../fonts/Queensides.ttf') format('truetype');
}

html {
    font-family: 'Queensides';
    height: 100%;
}

body {
    background-color: #121212;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 24px;
    overflow-y: auto;
    box-sizing: border-box;
}

input {
    font-family: 'Queensides';
    background-color:#444;
    color:white;
    width:100%;
    height:100%;
    box-sizing: border-box;
    border: none;
}

button {
    background-color: #661144;
    color: white;
    font-family: 'Queensides';
    font-size: 1.2em;
    font-weight: 100;
    width: 100%;
    height: 48px;
    margin: auto;
    border: none;
    border-radius: 8px;
}

#main {
    height: 100%;
    width: 100%;
    display: block;
}

#title {
    height: 100px;
    width: max-content;
    margin:auto;
    padding-bottom:24px;
    box-sizing: border-box;
}

#title img {
    height:100%;
}

#content {
    height: calc(100% - 100px);
    display: grid;
    grid-template-columns: 38% 24% 38%;
}

#image-section {
    background-color: #242424;
    height: 80%;
}

#image-upload {
    display: block;
    height: 100%;
}

#image-upload-top {
    width: 100%;
    height: 90%;
}

#image-upload-bottom {
    height: 10%;
    width: 100%;
    display: flex;
}

#url-input {
    width: 90%;
    height: 100%;
}

#image-send-button {
    width: 10%;
    height: 100%;
}

#image-display {
    display: none;
    width: 100%;
    height: 100%;
}

#image-display-top {
    height: 90%;
}

.drop_area{
	width:80%;
	height:100%;
	padding:16px;
	margin:auto;
	box-sizing: border-box;
	background-color:#222;
	border-radius:16px;
	display:flex;
	flex-direction:column;
}

.drop_area *{
	display:block;
	flex-grow: 2;
	margin:auto;
	height:auto;
	width:100%;
	text-align: center;
}
.drop_area button{
	height:20%;
	background-color:#444;
}

.drop_area img{
	width:270px;
	padding:18px;
	filter:invert(100%) brightness(33%);
}

#image-display-bottom {
    width: 100%;
    height: 10%;
}

#button-section {
    background-color: #121212;
    height: 80%;
}

#button-area {
    display: flex;
    display: none;
    height: 100%;
    flex-wrap: wrap;
    padding: 0px 60px;
}

.middle-button {
    width: 100%;
}


#literal-button {
    width: 100%;

}

#submit-lyrics-button {}

#sentimental-button {
    width: 100%;
}

#both-button {
    width: 100%;
}

#submit-feats-button {}

#loading-area {
    width: 100%;
    height: 100%;
    padding: 60px;
    box-sizing: border-box;

}

#loading-icon {
    display: flex;
    width: 100%;
    height: 70%;
}


#loading-text {
    height: 30%;
    font-size: 2.3em;
    text-align: center;
}

#track-section {
    background-color: #242424;
}

#embed-section {
    width: 100%;
    height: 20%;
}

#lyrics-section {
    height: 80%;
    overflow-y: auto;
}