@font-face {
  font-family: "Queensides";
  src: url("../fonts/Queensides.ttf") format("truetype");
}

html {
  font-family: "Queensides";
  height: 100%;
}

body {
  background-color: #121212;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 24px;
  overflow-y: auto;
  box-sizing: border-box;
}

.file-input {
  font-family: "Queensides";
  font-size: 1em;
  background-color: #444;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0px 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px 0px 0px 16px;
}

button {
  background-color: #661144;
  color: white;
  font-family: "Queensides";
  font-size: 1.2em;
  font-weight: 100;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.brightened {
  filter: brightness(1.7);
}

#main {
  height: 100%;
  width: 100%;
  display: block;
}

#title {
  height: 100px;
  width: max-content;
  margin: auto;
  padding-bottom: 24px;
  box-sizing: border-box;
}

#title img {
  height: 100%;
}

#content {
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: 38% 24% 38%;
}

#image-section {
  background-color: #242424;
  height: fit-content;
  width: fit-content;
  border-radius: 16px;
  margin: 0 auto 0 auto;
}

#image-upload {
  display: block;
  height: 100%;
}

#image-upload-top {
  width: 100%;
  height: calc(100% - 40px);
}

#image-upload-bottom {
  height: 40px;
  width: 100%;
  display: flex;
}

#url-input {
  width: 85%;
  height: 100%;
}

#url-send-button {
  width: auto;
  min-width: 15%;
  height: 100%;
  border-radius: 0px 0px 16px 0px;
}

#image-display {
  width: fit-content;
  height: fit-content;
}

#image-display-top {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.drop_area {
  width: 80%;
  height: 100%;
  padding: 16px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.drop_area * {
  display: block;
  flex-grow: 2;
  margin: auto;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.drop_area button {
  height: 48px;
  background-color: #444;
}

.drop_area img {
  width: 60%;
  padding: 20%;
  filter: invert(100%) brightness(33%);
}

#image-display-bottom {
  width: 100%;
  height: 48px;
}

#image-display-bottom button {
  height: 100%;
}

#image-display-area {
  max-height: 70vh;
  max-width: 100%;
  margin: auto;
  border-radius: 16px 16px 0px 0px;
}

#button-section {
  display: flex;
}

#button-area {
  background-color: #121212;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.middle-button {
  width: 70%;
}

#amount-setter {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
}

#amount-setter input {
  width: 8.7em;
  background-color: #444;
  color: white;
  font-family: "Queensides";
  font-size: 1em;
  padding: 6px 12px;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.2em;
}

#amount-setter button {
  width: fit-content;
  border-radius: 0.25rem;
}

#loading-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
}

#loading-icon {
  display: flex;
  width: 80%;
  height: 70%;
}

#loading-text {
  height: 30%; /* Allow the height to adjust based on content */
  font-size: 2.3em;
  text-align: center;
  width: 80%;
  overflow: auto; /* Enable scrollbars when content overflows */
  word-wrap: break-word;
}

#track-section {
  background-color: #242424;
  display: block;
  max-height: calc(70vh + 48px);
  border-radius: 16px;
  overflow-y: auto;
}

#embed-section {
  width: 100%;
  height: fit-content;
}

#lyrics-section::-webkit-scrollbar {
  display: none;
}

#lyrics-section::-webkit-scrollbar-thumb {
  display: none;
}

#lyrics-section {
  height: auto;
  font-size: 1.1em;
  font-weight: 600;
  overflow-y: auto;
  padding: 0px 12px 8px 12px;
  box-sizing: border-box;
}

@media screen and (max-width: 865px) {
  #content {
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-template-rows: auto auto;
    row-gap: 24px;
  }

  #track-section {
    grid-column: 1 / -1;
    height: calc(70vh + 48px);
  }

  .hidden2 {
    display: none !important;
  }

  #button-area {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1060px) {
  #amount-setter input {
    width: 40%;
  }
}
